@import 'variables';

.intro {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  aside {
    div {
      p {
        margin: 0;
        font-size: clamp(1rem, 2.5vw, 4rem);
      }

      h4 {
        margin: 0;
        text-transform: uppercase;
      }
    }
  }
}

.rows {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  .duo {
    padding-top: 500px; //temp
    border-right: $border;
    display: grid;
  }
  .row {
    grid-column: span 2;
    border-bottom: $border;
    h1 {
      font-weight: 700;
      margin-left: $spacing;
      text-transform: uppercase;
    }
    @include lg {
      padding-left: $responsive-padding-lg;
    }
    @include xxl {
      padding-left: $responsive-padding-xxl;
    }
  }
  .about {
    grid-row: 1 / 2;
    grid-column: 2;
    margin: 0;
    border-bottom: $border;
    padding: $spacing;
    font-size: clamp(0.8rem, 4vw, 3.5rem);

    @include lg {
      padding-right: $responsive-padding-lg;
    }
    @include xxl {
      padding-right: $responsive-padding-xxl;
    }
  }
}
