@import 'variables';

.intro {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  aside {
    div {
      p {
        margin: 0;
        font-size: clamp(1rem, 2.5vw, 4rem);
      }

      h4 {
        margin: 0;
        text-transform: uppercase;
      }
    }
  }
}

.rows {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  .duo {
    padding-top: calc(50vh - #{$nav-height}); //temp
    border-right: $border;
    display: grid;

    .row {
      &:nth-of-type(1) {
        border-bottom: $border;
      }
      &:nth-last-of-type(1) {
        border: none;
      }
    }
    // @include lg {
    //   padding-top: 30vh;
    // }
  }
  .row {
    grid-column: span 2;
    border-top: $border;
    padding-left: $spacing-sm;
    &:nth-of-type(1) {
      border-top: $border;
    }

    h1 {
      font-weight: 700;
      text-transform: uppercase;
    }

    // @include sm {
    //   padding-left: $nav-height;
    // }
    // @include lg {
    //   padding-left: $responsive-padding-lg;
    // }
    // @include xxl {
    //   padding-left: $responsive-padding-xxl;
    // }
  }
  .about {
    display: grid;
    place-content: end;
    grid-row: 1 / 2;
    grid-column: 2;
    margin: 0;
    // border-bottom: $border;
    padding: $spacing;
    // font-size: clamp(0.8rem, 2vw, 3.5rem);
    font-size: clamp(12px, 3vw, 1ch);

    line-height: 1.2;

    // @include lg {
    //   padding-right: $responsive-padding-lg;
    // }
    // @include xxl {
    //   padding-right: $responsive-padding-xxl;
    // }
  }
}
