@import 'variables';

.posts {
  overflow: scroll;
  padding: 0 $spacing;
  ul {
    list-style: none;
    display: grid;
    grid-template: auto auto / repeat(6, 20vw);
    grid-gap: $spacing;
    grid-auto-flow: column;
    margin: 0;
    padding: 0;
    li {
      grid-column: span 3;
      display: grid;
      grid-template: 150px 50px / repeat(5, 1fr);
      // border: $border;
      // padding: $spacing-sm;
      border-radius: $border-radius;
      column-gap: calc(#{$spacing} / 2);
      // background-color: white;
      // box-shadow: $shadow;

      figure {
        grid-column: span 2;
        grid-row: span 2;
        // width: 100%;
        // height: 100%;
        img {
          background-color: #9f9487;
          border-radius: $border-radius-sm;
          border: $border;
        }
      }

      article {
        grid-column: span 3;
        h4 {
          margin: 0;
        }

        p {
          margin-top: $spacing-sm;
        }
      }
      // box-shadow: $shadow;
    }
  }
}
