@font-face {
  font-family: 'Open Sans';
  src: url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
}

@font-face {
  font-family: 'Maison Neue Ext Demi';
  src: url('/fonts/MaisonNeue/MaisonNeueExt-Demi.woff2');
  font-weight: 600;
  font-style: normal;
}

// a {
//   text-decoration: none;
//   display: inline-block;
//   padding: 10px;
//   color: #272727;
//   font-size: 18px;
//   font-weight: 400;
//   transform: translateX(-10px);
// }
// h1,
// h2,
// h3,
// h4 {
//   // margin-top: 2em;
//   // font-size: 1.17em;
//   line-height: 25px;
//   font-weight: 700;
// }
// h1 {
//   font-size: 40px;
//   line-height: 45px;
//   color: rgb(40, 44, 52);
// }
// h2 {
//   font-size: 1.17em;
// }
// h3 {
//   font-size: 1.17em;
// }

// p,
// a {
//   font-size: 16px;
//   line-height: 27px;
// }
// p {
//   font-size: 14px;
// }

a {
  text-decoration: none;
  color: black;
  font-weight: 700;
  &:active {
    background-color: rgba(0, 0, 0, 0);
  }
}

h1,
h2,
h3 {
  margin: 0.83em 0;
  color: #222;
  // font-family: Merriweather;
}

h1 {
  font-family: 'Maison Neue Ext Demi';
  font-size: clamp(1rem, 10vw, 10rem);
  margin: $spacing 0;
  line-height: 1;
}
